<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
    <link rel="stylesheet" href="./static/css/main.min.css">
    <title>Tsee Developers</title>
</head>
<body>

<header id="header" class="navbar-container">

    <div class="navbar-layout">
        <!-- TRADEMARK -->
        <div>
            <h5 class="trademark">TSEE
                <span style="font-weight: normal; font-family: Roboto-Regular, sans-serif">developers</span>
            </h5>
        </div>

        <!-- LINK BUTTONS -->
        <div class="navbar-buttons-layout">
            <a href="#home" id="home-button" class="navbar-button">Home</a>
            <a href="#services" id="services-button" class="navbar-button">Services</a>
            <a href="#packages" id="packages-button" class="navbar-button">Packages</a>
            <a href="#contact" id="contact-button" class="navbar-button">Contact</a>
        </div>
    </div>

</header>


<main id="main" class="content-area-container">

    {% block content %}
    <!-- page body content -->
    {% endblock %}

</main>


<footer id="footer-container">
    <!-- COPYRIGHT TAG -->
    <div>
        <h5 class="address">
            © 2025 Techtsee.
            <br>
            Bhambanana, MFT Office Pack C02, Bhambanana, MFT Office Pack C02, MFT Office number C02
            <br>
            Bhambanana
            <br>
            3969
        </h5>
    </div>
    <!-- LINKS -->
    <div style="display: flex; gap: 10px">
        <a target="_blank" href="https://api.whatsapp.com/send/?phone=%2B27823416719&text&type=phone_number&app_absent=0"><img alt="Whatsapp" class="social-link-icon" src="./static/images/icons/social/whatsapp.png"></a>
        <a target="_blank" href="https://www.tiktok.com/@techtsee"><img alt="Tiktok" class="social-link-icon" src="./static/images/icons/social/tiktok.png"></a>
        <a target="_blank" href="https://www.facebook.com/profile.php?id=61581231985197&sk=about"><img alt="Facebook" class="social-link-icon" src="./static/images/icons/social/facebook.png"></a>
        <a target="_blank" href="http://www.youtube.com/@ITTSEE"><img alt="Youtube" class="social-link-icon" src="./static/images/icons/social/youtube.png"></a>
        <a target="_blank" href="http://www.linkedin.com/in/%20it-tsee-054419274"><img alt="Linkedin" class="social-link-icon" src="./static/images/icons/social/linkedin.png"></a>
    </div>
</footer>

<script>
    // Sections to observe
    const homeSection = document.getElementById("home");
    const servicesSection = document.getElementById("services");
    const packagesSection = document.getElementById("packages");

    // Navigation Buttons
    const homeButton = document.getElementById("home-button");
    const servicesButton = document.getElementById("services-button");
    const packagesButton = document.getElementById("packages-button");
    const contactButton = document.getElementById("contact-button");

    // Intersection Observer to highlight navbar buttons
    const observer = new IntersectionObserver(
    entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        if (entry.target.id === "home") {
          servicesButton.classList.remove("selected-navbar-button");
          packagesButton.classList.remove("selected-navbar-button");
          contactButton.classList.remove("selected-navbar-button");
          homeButton.classList.add("selected-navbar-button");
        } else if (entry.target.id === "services") {
          homeButton.classList.remove("selected-navbar-button");
          packagesButton.classList.remove("selected-navbar-button");
          contactButton.classList.remove("selected-navbar-button");
          servicesButton.classList.add("selected-navbar-button");
        } else if (entry.target.id === "packages") {
          homeButton.classList.remove("selected-navbar-button");
          servicesButton.classList.remove("selected-navbar-button");
          contactButton.classList.remove("selected-navbar-button");
          packagesButton.classList.add("selected-navbar-button");
        }
      }
    });
    },
    {
    threshold: 0.4  // adjust based on how much must be visible
    }
    );

    // Start observing the sections
    observer.observe(homeSection);
    observer.observe(servicesSection);
    observer.observe(packagesSection);
</script>

</body>
</html>
