@use "variables" as *;

.introduction-container {
    min-height: 600px;
    display: grid;
    grid-template-rows: auto max-content;
    justify-items: center;
    margin-right: $desktop-margin;
    margin-left: $desktop-margin;
    background-image: url("../images/introduction_bg_image.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.intro-content-layout {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    min-height: 550px;
    width: 100%;
    gap: 100px;
}

/* TITLE */
.intro-content-layout h5 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 28px;
    max-width: 590px;
    font-weight: normal;
    color: $title-text;
}
/* PARAGRAPH */
.intro-content-layout p {
    max-width: 550px;
    font-family: Roboto-Regular, sans-serif;
    font-size: $content-font-size;
    color: $secondary-text;
    line-height: 1.5;
}
/* IMAGE */
.intro-image {
    width: 400px;
}

/* FLOW */
.flow-rows-container {
    display: grid;
}
.flow-row {
    display: grid;
    justify-content: center;
    gap: 0;
    width: 280px;
    padding: 15px 60px 15px 60px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
}
.flow-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 2px;
    font-weight: normal;
    font-family: Roboto-Bold, sans-serif;
}
.flow-title-icon {
    width: 15px;
}
.flow-title {
    font-size: 15px;
}
.flow-body {
    font-size: 12px;
    color: var(--secondary-text-color);
}
.flow-branch {
    justify-self: center;
    height: 30px;
    width: 0.5px;
    background-color: var(--border-color);
}
