@use "variables" as *;

.introduction-container {
    min-height: 600px;
    display: grid;
    grid-template-rows: auto max-content;
    justify-items: center;
    background-image: url("../images/introduction_bg_image.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.intro-content-layout {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    min-height: 550px;
    width: 100%;
    gap: 100px;
}

/* TITLE */
.intro-content-layout h5 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 28px;
    max-width: 590px;
    font-weight: normal;
    color: $title-text;
}
/* PARAGRAPH */
.intro-content-layout p {
    max-width: 550px;
    font-family: Roboto-Regular, sans-serif;
    font-size: $content-font-size;
    color: $secondary-text;
    line-height: 1.5;
}
/* IMAGE */
.intro-image {
    width: 400px;
}

/* FLOW */
.flow-rows-container {
    display: grid;
}
.flow-row {
    display: grid;
    justify-content: center;
    gap: 0;
    width: 280px;
    padding: 15px 60px 15px 60px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: white;
}
.flow-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 2px;
    font-weight: normal;
    font-family: Roboto-Bold, sans-serif;
}
.flow-title-icon {
    width: 15px;
}
.flow-title {
    font-size: 15px;
}
.flow-body {
    font-size: 12px;
    color: var(--secondary-text-color);
}
.flow-branch {
    justify-self: center;
    height: 30px;
    width: 0.5px;
    background-color: var(--border-color);
}


.section-title-container {
    display: grid;
    gap: 20px;
    padding-top: 100px;
    margin-bottom: 60px;
}
/* TITLE */
.section-title-container h5 {
    font-size: 28px;
    font-weight: normal;
    font-family: Roboto-Medium, sans-serif;
    margin: 0;
}
/* PARAGRAPH */
.section-title-container p {
    max-width: 550px;
    line-height: 1.5;
    font-size: var(--content-font-size);
    color: var(--secondary-text-color);
    margin: 0;
}


/* SERVICES */
.services-container {

}
.services-layout {
    display: grid;
    grid-template-columns: 100fr 100fr;
    gap: 30px;
}
.service-container {
    display: grid;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    padding: 30px;
    gap: 5px;
}
.service-title-container {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: 100fr max-content;
    height: 30px;
}
.service-title-container h5 {
    font-size: var(--content-font-size);
    font-weight: normal;
    font-family: Roboto-Bold, sans-serif;
    margin: 0;
}
.service-title-container img {
    width: 25px;
}
.service-description {
    font-size: var(--content-font-size);
    color: var(--secondary-text-color);
    line-height: 1.5;
    margin: 0;
}


/* PACKAGES */
.packages-title-tools-layout {
    display: grid;
    grid-template-columns: 100fr 100fr;
    align-content: center;
    gap: 30px;
    padding: 100px 0 60px 0;
}
.tools-icons-layout {
    display: grid;
    grid-template-columns: 100fr 100fr 100fr 100fr;
    min-width: 400px;
    max-width: 600px;
    filter: saturate(0);
    align-content: center;
    opacity: 0.5;
    row-gap: 20px;
}
.tool-icon {
    width: 50px;
    align-self: center;
    justify-self: center;
}

.packages-layout {
    display: grid;
    grid-template-columns: 100fr 100fr 100fr;
    column-gap: 30px;
    row-gap: 80px;
}
.package-container {
    display: grid;
    background-color: white;
    overflow: hidden;
    grid-template-rows: 50px 100fr;
    gap: 20px;
}
.package-title-container {
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
}
.package-title {
    font-size: var(--title-font-size);
    font-weight: normal;
    color: white;
    margin: 0;
}
.package-service-container {
    display: grid;
    gap: 10px;
    grid-auto-rows: min-content;
}
.package-service-item {
    font-size: var(--content-font-size);
    margin: 0;
}


/* CONTACT */
.contact-container {
    display: grid;
    padding: 100px 0 60px 0;
    grid-template-columns: 100fr max-content;
    column-gap: 50px;
}
.contact-form {
    display: grid;
    grid-template-rows: max-content max-content 100fr;
    grid-auto-rows: min-content;
    row-gap: 10px;
    margin-top: 50px;
    max-width: 500px;
}
.contact-form textarea {
    resize: none;
    height: 150px;
    font-family: Roboto-Regular, sans-serif;
}
.form-field {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-family: Roboto-Regular, sans-serif;
    min-height: 20px;
    padding: 10px;
}
.form-submit-button {
    height: 40px;
    width: max-content;
    background-color: transparent;
    border-radius: var(--border-radius);
    border: 1px solid rgba(42, 63, 202, 0.36);
    color: var(--primary-color);
    font-family: Roboto-Bold, sans-serif;
    font-size: var(--content-font-size);
    justify-self: right;
    padding: 0 30px 0 30px;
}
.form-submit-button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
}
