@use 'variables' as *;
@use 'fonts' as *;
@use 'texts' as *;
@use 'buttons' as *;
@use 'index.twig' as *;
@use 'base.twig' as *;


// global styles
html {
  scroll-behavior: smooth;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

.section, section {
  scroll-margin-top: 80px;
}

body {
  font-family: Roboto-Regular, sans-serif;
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
}
